USE [econfsys]
GO
/****** Object:  Trigger [xm].[trRule]    Script Date: 9/20/2019 8:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Jamshid Massomy>
-- Create date: <2019>
-- Description:	<Score >
-- =============================================
ALTER TRIGGER [xm].[trRule] 
   ON  [xm].[ApplicantAnswer]
   AFTER INSERT,UPDATE
AS 
BEGIN
	DECLARE 
	@ChoiceID INT,
	@Score INT;

	--SET @ChoiceID = from INSERT;

	SELECT @Score = ch.Point from xm.Choice ch
	WHERE ch.ID = @ChoiceID ; 

	UPDATE  xm.ApplicantAnswer SET Score = @Score where ChoiceID = @ChoiceID
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

END

DECLARE @Password nvarchar(400);

SET @Password = Convert(nvarchar(400), hashbytes('SHA1', 'sfsdfdsf'), 0);
SELECT @Password
SELECT hashbytes('SHA1',N'@Password') 

DECLARE @Encrypt  varbinary(MAX);

select @Encrypt = EncryptByPassPhrase('PEPE', 'this is a lon sentence to be addsfdsf  fkjsjf ssf js  sdfjl' )
SELECT @Encrypt


declare @val varbinary(max)

SET @val = 0x01000000E811A954D2EFC74EF8AA6569D90B72E23B9FA669401822A00485A2F78D56F37778FE5C5141B64AF4A223339691A0A065DB3817184B37419B56DF77CF6FFEDF6535CE2A500D51A88C07D134169482EB17

select convert(varchar(100),DecryptByPassPhrase('PEPE',@val))
