USE [econfsys]
GO
/****** Object:  Trigger [xm].[trRule]    Script Date: 9/20/2019 8:05:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Jamshid Massomy>
-- Create date: <2019>
-- Description:	<Score >
-- =============================================
ALTER TRIGGER [xm].[trRule] 
   ON  [xm].[ApplicantAnswer]
   AFTER INSERT,UPDATE
AS 
BEGIN
	DECLARE 
	@ChoiceID INT,
	@Score INT;

	--SET @ChoiceID = from INSERT;

	SELECT @Score = ch.Point from xm.Choice ch
	WHERE ch.ID = @ChoiceID ; 

	UPDATE  xm.ApplicantAnswer SET Score = @Score where ChoiceID = @ChoiceID
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here

END
