<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
      <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
    </system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"  />
			</webServices>
		</scripting>
	</system.web.extensions>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=econfsys;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="econfsys" connectionString="Data Source=.;Initial Catalog=econfsys;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="EMS" connectionString="Data Source=.;Initial Catalog=EMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="Audit" connectionString="Data Source=.;Initial Catalog=Audit;Integrated Security=True" providerName="System.Data.SqlClient"/>
	<add name="WMS" connectionString="Data Source=.;Initial Catalog=WMS;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="XMphoto" value="~\Exam\XMphoto\" />
    <!-- <add key="Docs"               value="G:\Plus\Traffic\TMS\Docs" /> -->
    <!-- <add key="DL_Files"           value="G:\Plus\Traffic\TMS\Docs\DL_Files" />     -->
    <!-- <add key="VR_Files_New"       value="G:\Plus\Traffic\TMS\Docs\VR_Files_New" />    -->
    <!-- <add key="VR_Files_Extend"   value="G:\Plus\Traffic\TMS\Docs\VR_Files_Extend" />    -->
    <!-- <add key="Suspended_Docs"   value="G:\Plus\Traffic\TMS\Docs\Suspended_Docs" /> -->
    <!-- <add key="Portfilo" value="D:\Traffic\TMS\Portfilo"  /> -->
    
  
  </appSettings>

  
</configuration>
