#printable {
    display: block;
    content:none;
}

@media print {
    .noPrint {
        display: none;
    }

    .Print {
        display: block;
    }

        .Print #divDeal {
            top: 5px;
            right: 5px;
        }

    .div-form {
        border: 0px;
    }
    .Print .div-idcard {
    width: 100%;
    text-align: center;
}

    .Print .div-idcard > div {
        width: 600px;
        height: 340px;
        background: #fff url('../../../skin/img/MCITCardPlaneBack.jpg') top left /100% auto no-repeat;
        
        border: solid 1px #aaa;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0 0 4px;
        padding: 5px;
    }
       .Print .div-idcard > div .photo {
            border: 4px solid #fff;
            border-radius: 2px;
            float: left;
            width: 150px;
            height: 220px;
            background: #fff;
        }

      .Print  .div-idcard > div .photo-cover {
            float: right;
            height: 300px;
            opacity: 0.14;
            position: absolute;
        }

}

body {
    background: #EBEBEB;
    font: normal normal 12px/22px Calibri;
    color: #222;
    margin: 0px;
    padding: 0px;
}

img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

h1, h2, h3, h4, h5 {
    color: #006567;
    margin: 0;
    padding: 5px 10px;
    text-shadow: 0 0 1px #c1c1c1;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: normal;
}

h4 {
    font-size: 1.2em;
}

.div-toper {
    margin: 0px;
    width: 100%;
    height: 40px;
    background: #c1c1c1;
    display: none;
}

.div-page {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 0 #ffd3a1;
    height: auto;
    left: 14%;
    min-height: 2200px;
    min-width: 1100px;
    padding: 10px;
    position: absolute;
    right: 14%;
    text-align: left;
    top: 0;
}

.pick {
    float: right;
    margin: 0;
    width: 30px;
}
.node-header .pick {
    width: 16px;
}
.finder {
    cursor: pointer;
    float: right;
    margin: -10px 10px 0;
    width: 40px;
}

.div-header {
    background: none repeat scroll 0 0 #f5f5f5;
    border-bottom: 1px solid #aaa;
    height: 50px;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
}

    .div-header .div-user {
        width: 100px;
    }

    .div-header .img-logo {
        background: url("web/khana.png") repeat scroll 0 0 / 40px auto transparent;
        height: 50px;
        width: 45px;
    }

    .div-header .div-search:not(select) {
        position: relative;
        top: -41px;
        left: 100px;
        height: 30px;
        width: 500px;
        border: solid 1px #c1c1c1;
        background: #fff;
    }

        .div-header .div-search input[type=text] {
            border: 0 none;
            height: 26px;
            padding: 2px 10px;
            width: 419px;
        }

        .div-header .div-search img {
            background: url("icon/search.png") no-repeat scroll 16px 4px / 25px auto #ff7700;
            float: right;
            height: 31px;
            width: 61px;
            cursor: pointer;
        }

            .div-header .div-search img:hover {
                background: url("icon/search.png") no-repeat scroll 16px 4px / 25px auto #ff6600;
            }

    .div-header .img-advanceSearch {
        float: left;
        left: 620px;
        opacity: 0.5;
        position: relative;
        top: -70px;
        width: 30px;
        cursor: pointer;
    }

    .div-header .div-advanceSearch {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #aaa;
        height: 80px;
        left: 100px;
        position: relative;
        top: -31px;
        width: 800px;
        display: none;
    }


.div-contener {
    background: none repeat scroll 0 0 #f1f3f3;
    border: 0px dotted;
    height: auto;
    left: 22%;
    min-height: 500px;
    position: relative;
    right: 22%;
    top: 60px;
    width: 1000px;
}

    .div-contener .div-data-row {
        background: none repeat scroll 0 0 #fff;
        border: 0 none;
        height: 460px;
        margin: 20px 0;
        width: 1080px;
    }

        .div-contener .div-data-row .main-img {
            width: 800px;
            height: 460px;
            float: left;
        }

        .div-contener .div-data-row .mini-img {
            border: solid 2px #fff;
            width: 60px;
            height: 60px;
            float: left;
            background: #fff;
        }

        .div-contener .div-data-row .main-div {
            border: 1px dotted;
            float: left;
            height: 459px;
            width: 278px;
        }

            .div-contener .div-data-row .main-div div {
                float: left;
                height: 24px;
                width: 60px;
                z-index: 100;
                margin: 3px;
                text-align: right;
            }

            .div-contener .div-data-row .main-div .img-like {
                background: url("icon/like.png") no-repeat scroll 7px -1px / 25px auto transparent;
            }

            .div-contener .div-data-row .main-div .img-view {
                background: url("icon/view.png") no-repeat scroll 7px -1px / 25px auto transparent;
            }

            .div-contener .div-data-row .main-div .img-comment {
                background: url("icon/comment.png") no-repeat scroll 7px -1px / 25px auto transparent;
            }

            .div-contener .div-data-row .main-div .img-bid {
                background: url("icon/bid.png") no-repeat scroll 7px -1px / 25px auto transparent;
            }

            .div-contener .div-data-row .main-div .div-load-data {
                float: left;
                width: 98%;
                height: 75%;
                border: dotted 1px #aaa;
            }

            .div-contener .div-data-row .main-div .div-input {
                width: 98%;
                height: 30px;
            }

                .div-contener .div-data-row .main-div .div-input input[type=text] {
                    width: 96%;
                    height: 30px;
                    padding: 2px 5px;
                }

.div-message {
    background: #aaa none repeat scroll 0 0;
    border: 1px solid;
    bottom: 10px;
    height: 100px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 500px;
    transition: all 0.9s ease 0s;
}

.div-form.dialog, .dialog {
    box-shadow: 1px 1px 5px #555;
    position: fixed;
    top: 10%;
    z-index: 9;
}

.closebttn {
    background: transparent url("../icon/close_dialog.png") no-repeat scroll center center;
    float: right;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -45px;
    margin-right: 20px;
}

.toggler {
    background: transparent url("../icon/DragListUp.png") no-repeat scroll center center;
    float: right;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
}
    /*.toggler:hover {
    background-color:#F2F2F2;
}*/
    .toggler.expanded {
        background-image: url('../icon/DragListDown.png');
    }

.arrow {
    cursor: pointer;
    margin: -5px 10px -5px -10px;
    width: 27px;
}

.rtl .arrow {
    margin: -5px 6px;
}

/**--------------------------------------------------ID card Style---------------------------*/

.div-idcard {
    width: 100%;
    text-align: center;
}

    .div-idcard > div {
        width: 600px;
        height: 330px;
        background: #fff url('../../../skin/img/MCIT Card.jpg') top left /100% auto no-repeat;
        
        border: solid 1px #aaa;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0 0 4px;
        padding: 5px;
    }
 
        .div-idcard > div table tr td {
            border: solid 0px #aaa;
        }

        .div-idcard > div h3 {
            line-height: 20px;
            font-size: 1.6em;
            margin: 0px;
        }

        .div-idcard > div .logo {
            margin: 0;
            width: 80px;
        }

        .div-idcard > div .bqcode {
            width: 50px;
            margin: 4px;
        }

        .div-idcard > div .photo {
            border: 4px solid #fff;
            border-radius: 2px;
            float: left;
            width: 150px;
            height: 220px;
            background: #fff;
        }

        .div-idcard > div .photo-cover {
            float: right;
            height: 300px;
            opacity: 0.14;
            position: absolute;
        }

        .div-idcard > div span {
            font: 2.4em/30px Arabic Typesetting;
        }

    .div-idcard div .barcode {
        height: auto !important;
        width: 175px !important;
        margin: 0 110px;
    }

    .div-idcard div .qbCode {
        height: auto !important;
        left: 243px;
        margin: -100px 9px;
        position: absolute;
    }

   /*......................English Version IDcard..............................................*/

       .div-idcard .EnglishVersion {
        width: 600px;
        height: 330px;
        background: #fff url('../../../skin/img/MCITCardEnlish.png') top left /100% auto no-repeat;
        
        border: solid 1px #aaa;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0 0 4px;
        padding: 5px;

}
     .div-idcard > .EnglishVersion table tr td {
            border: solid 0px #aaa;
        }
     .div-idcard > .EnglishVersion .photo {
            border: 4px solid #fff;
            border-radius: 2px;
            float: left;
            width: 150px;
            height: 220px;
            background: #fff;
            position: relative;
            float: left;
            right: 27rem;
        }

   .div-idcard > .EnglishVersion .photo-cover {
            float: right;
            height: 300px;
            opacity: 0.14;
            position: absolute;
        }
      .div-idcard > .EnglishVersion h3 {
            line-height: 20px;
            font-size: 1.6em;
            margin: 0px;
        }
   
     .div-idcard > .EnglishVersion  #ContentTd {
    position: relative;
    top: 3px;
   left:6rem;
    display: table-cell;
    display: table;

   /*......................END English Version IDcard..............................................*/