[data-toggle='dialog'] + span {
    display: inline-block;
    vertical-align: text-bottom;
}
.rtl .div-dialog {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #0000001a;
    z-index: 3;
    overflow: auto;
}

.rtl .div-dialog .div-form {
    position: relative;
    right: auto !important;
    left: auto !important;
    display: block;
    margin: auto;
    float: none;
}

.div-dialog-header {
    position: relative;
    display: block;
    margin: auto;
    max-width: 1100px;
    min-width: 880px;
    width: 75%;
    background: #fff none repeat scroll 0 0;
    border: 0 solid #aaa;
    border-radius: 1px;
    box-shadow: 0 0 2px #555;
    height: 30px;
}

    .div-dialog-header img {
        width: 30px;
        cursor: pointer;
    }

.div-dialog-control {
    position: relative;
    display: block;
    margin: auto;
    max-width: 1100px;
    min-width: 880px;
    width: 75%;
    background: #fff none repeat scroll 0 0;
    border: 0 solid #aaa;
    border-radius: 1px;
    box-shadow: 0 0 2px #555;
}

.div-dialog-body {
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
}

.div-dialog-control input {
    background: #415560;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    height: 35px;
    margin: 0;
    outline: medium none;
    padding: 5px;
    width: 110px;
    margin: 10px
}

