/**
 * @version: 1.0.0
 * @author: reza.khawar@gmail.com
 * @description: for use only in login page
 *
 */
#login {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px #aaa;
    height: 40%;
    max-width: 300px;
    min-height: 300px;
    min-width: 260px;
    position: fixed;
    right: 5%;
    top: 20%;
    width: 20%;
    max-height: 340px;
}

    #login h1 {
        color: #222;
        font: 130%/30px calibri;
        padding: 1% 5% 0 2%;
        text-shadow: 0px 0px 2px #999;
        text-align: right;
        /**color selected 415560*/
    }

    #login p {
        width: 91.1%;
        border: solid 1px #e3e3e3;
        padding: 1.5% 2.5%;
        box-shadow: 0px 0px 3px #e3e3e3;
        border-left: solid 10px #ff6600;
        background: #f8f8f8;
    }

        #login p img {
            float: left;
        }

        #login p:hover, #login p:focus {
            background: #f5f5f5;
        }

        #login p input {
            border: 1px solid #e7e7e7;
            color: #222222;
            direction: rtl;
            font-size: 100%;
            height: 30px;
            padding: 5px 10px 5px 30px;
            text-shadow: 0 0 3px #999999;
            width: 84%;
        }

    #login .Loginbtn {
        cursor: pointer;
        float: left;
        margin: 2%;
        width: 15%;
    }

    #login .home {
        position: relative;
        top: 8px;
        left: 280px;
        width: 20px;
        cursor: pointer;
    }

    #login .setting {
        position: relative;
        top: 10px;
        left: 290px;
        width: 22px;
        cursor: pointer;
    }

    #login span {
        background: #ff6600 none repeat scroll 0 0;
        bottom: 6px;
        display: block;
        float: left;
        font-size: 105%;
        height: auto;
        padding: 2px;
        position: relative;
        text-align: justify;
        width: 98.6%;
    }

.div-footer {
    bottom: 10px;
    float: left;
    font: 1.1em/22px Calibri;
    left: 10px;
    opacity: 0.8;
    position: absolute;
    width: 70%;
}
