/**
 * @version: 1.0.0
 * @author: reza.khawar@gmail.com
 * @description: for web pages use only
 *
 */
#printable {
    display: block;
}

@media print {
    .noPrint {
        display: none;
    }

    .Print {
        display: block;
    }

        .Print #divDeal {
            top: 5px;
            right: 5px;
        }

    .div-form {
        border: 0px;
    }
}

body {
    font-family: Calibri;
    background: #ebebeb;
}

.div-header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 10px solid #415560;
    height: 26px;
    left: 0;
    margin-bottom: 5px;
    padding: 20px;
    position: fixed;
    text-align: right;
    top: 0;
    width: 98.9%;
}

.head-spacer {
    height: 73px;
    visibility: hidden;
}

.div-header a {
    margin: -20px 10px 0 0;
}

.div-header div {
    margin: -60px 0 0 0;
    text-align: left;
}

    .div-header div img {
        border: solid 4px #999;
        border-radius: 2px;
        float: left;
        margin-right: 10px;
        width: 35px;
    }

.w500 {
    width: 500px !important;
}

.div-form {
    background: #fff none repeat scroll 0 0;
    border: 0 solid #aaa;
    border-radius: 1px;
    box-shadow: 0 0 2px #555;
    display: block;
    left: 10%;
    max-width: 1100px;
    min-width: 880px;
    position: relative;
    width: 75%;
}

    .div-form.fullscreen {
        max-width: 100%;
        min-width: 75%;
        width: calc(100% - 260px);
    }

    .div-form .title {
        background: #006FBA none repeat scroll 0 0;
        border-bottom: 1px solid #aaa;
        display: block;
        font-size: 180%;
        margin: 0 0 25px;
        padding: 2px 10px;
    }

        .div-form .title > img {
            cursor: pointer;
            float: left;
            display: block;
            width: 40px;
            height: 40px;
            float: left;
        }


.eng {
    direction: ltr;
}

.rtl .radio-group {
    float: right;
    padding: 0px 8px;
    min-width: 187px;
}
.rtl .radio-group input {
    float: right;
}

.rtl .radio-group label {
    min-width: 50px;
}
.div-form.dialog.widget {
    display: none;
    left: 46%;
    position: fixed !important;
    right: 55%;
    top: 20%;
    width: auto !important;
}

    .div-form.dialog.widget .close {
        background: rgba(0, 0, 0, 0) url("../icon/close.png") no-repeat scroll center center / 44px auto;
        cursor: pointer;
        float:left;
        display: block;
        width: 40px;
        height: 40px;
        float: left;
        margin-top: -45px;
        margin-right: 20px;
    }

.rtl .div-form {
    direction: rtl;
    /*float: right;*/
    left: auto !important;
    float: right;
    right:12%;
	
	
	 
}

.div-form .title h2{
    font: bold 130%/40px calibri;
    color: white;
    padding: 10px;
    margin: 10px;
}


.div-form h2 {
    font: bold 130%/40px calibri;
    color: white;
    padding: 10px;
    margin: 10px;
}



.div-form h3 {
    font: bold 120%/30px calibri;
    color: #4d585e;
    padding: 5px;
    margin: 5px;
}


.div-row {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px dotted #ebebeb;
    height: auto;
    min-height: 30px;
    margin: 10px 0;
    padding: 1px 10px;
    text-align: left;
    width: 97.7%;
}

.rtl .div-row {
    text-align: right;
}

.div-row label {
    color: #444;
    display: block;
    float: left;
    font: 110%/22px calibri;
    height: 30px;
    max-width: 150px;
    min-width: 90px;
    padding: 0 10px;
    width: auto;
}

.rtl .div-row label {
    float: right;
}

.div-row input[type=text], .div-row input[type=number] {
    border: 1px solid #aaa;
    float: left;
    height: 32px;
    margin: -8px 0;
    /*max-width: 240px;*/
    min-width: 187px;
    padding: 0 6px;
    width: auto;
}

.div-row textarea {
    width: 86%;
    font: 140%/22px "Traditional Arabic";
}

.rtl .div-row input[type=text], .rtl .div-row input[type=number] {
    float: right;
}

.div-row .search:not(select) {
    background: url('../icon/search1.png') no-repeat scroll right center / 24px auto !important;
}

.rtl .div-row .search:not(select) {
    background: url('../icon/search1.png') no-repeat scroll 4px center / 24px auto !important;
}
.rtl .div-row select {
 
    border:#aaa 1px solid;
}

.div-row select {
    float: left;
    height: 35px;
    margin: -8px 0;
    /*max-width: 250px !important;*/
    min-width: 200px;
    width: auto;
}

.rtl .div-row select {
    float: right;
}

.rtl .div-row span {
    font: 140%/22px "Traditional Arabic";
    padding: 5px;
    color: #138417;
}

.div-row select option {
    border-bottom: dotted 1px #415560;
    padding: 4px;
    cursor: pointer;
    font: 120%/33px calibri;
}

.div-row .img-button-grid {
    float: right;
    margin: -14px 0 0;
    width: 50px;
}

.rtl .div-row .img-button-grid {
    float: left;
}

.div-row .input-writer {
    border: 0px !important;
    border-bottom: solid 1px #555 !important;
    margin: -1px !important;
}

.div-row .label-writer {
    margin: 17px 0 -10px !important;
}

.div-bill-row {
    border-bottom: 1px dotted;
    display: inline-table;
    height: auto;
    width: 100%;
}

    .div-bill-row spam {
        display: table-cell;
        font: 110%/33px calibri;
        padding: 0 10px;
        width: 100px;
    }

    .div-bill-row .img-cancel {
        background: rgba(0, 0, 0, 0) url("../icon/close3.png") no-repeat scroll 5px 6px / 30px auto;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 35px;
        margin: -2px 0 -10px;
        width: 35px;
    }

    .div-bill-row .img-hide {
        background: rgba(0, 0, 0, 0) url("../icon/hide.png") no-repeat scroll 5px 6px / 30px auto;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 35px;
        margin: -2px 0 -10px;
        position: relative;
        top: -7px;
        width: 35px;
    }

    .div-bill-row .img-show {
        background: rgba(0, 0, 0, 0) url("../icon/show.png") no-repeat scroll 5px 6px / 30px auto;
    }

.div-separator {
    width: 100%;
    display: block;
    height: 5px;
    background-color: #006FBA;
}

.div-separator-skinny {
    width: 100%;
    display: block;
    height: 2px;
    margin: auto auto 20px auto;
    background-color: #415560;
}

.div-form-control {
    /*float: left;*/
    height: 44px;
    /*width: inherit;*/
    text-align: left;
    padding: 10px;
    margin: 5px 0 0;
    border-top: 8px solid #006FBA;
}

    .div-form-control a {
        display: block;
        float: right;
        height: 64px;
        margin: 0 10px;
        width: 60px;
    }

    .div-form-control input[type=submit] {
        /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #4387fd, #4683ea) repeat scroll 0 0;
        background:rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #b2adad, #aaaaaa) repeat scroll 0 0;
        background:rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #506A77, #415560) repeat scroll 0 0;*/
        background:#006FBA ;
		
		
		
	
		
		
		/*#ff6a00* orginal/ blue*/
        border: 1px solid transparent;
        border-radius: 2px;
        box-shadow: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        height: 35px;
        margin: 0;
        outline: medium none;
        padding: 5px;
        width: 110px;
    }

.new {
    background: #aaa url("../icon/new.png") no-repeat scroll -12px center / 50px auto !important;
}

.save {
    background: #aaa url("../icon/save.png") no-repeat scroll -12px center / 50px auto !important;
}

.search:not(select) {
    background: #aaa url("../icon/search.png") no-repeat scroll right center / 50px auto !important;
}

.rtl .search:not(select) {
    background: #aaa url("../icon/search.png") no-repeat scroll -12px center / 50px auto !important;
}

.move {
    background: #aaa url("../icon/arrowleft.png") no-repeat scroll -12px center / 50px auto !important;
}

.filter {
    background: #aaa url("../icon/filter.png") no-repeat scroll -12px center / 50px auto !important;
}

.print {
    background: #aaa url("../icon/print.png") no-repeat scroll -12px center / 50px auto !important;
}

.embed {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.div-form-filter {
    background: #fff none repeat scroll 0 0;
    border-bottom: 0px dotted #ebebeb;
    height: auto;
    margin: 10px 0;
    padding: 1px 10px;
    text-align: right;
    width: 97.7%;
    min-height: 100px;
}

    .div-form-filter .button {
        background: url("../icon/filter.png") no-repeat scroll 4px center / 50px auto rgba(0, 0, 0, 0);
        height: 40px !important;
        margin: 0 24px;
        padding: 15px 26px;
        width: 64px !important;
    }

.grid {
    width: 100%;
    border-top: solid 1px;
    overflow-y: auto;
}

    .grid table {
        border-collapse: collapse;
        width: 100%;
        font: 120%/22px calibri;
    }

    .grid tr {
        border-bottom: solid 1px rgba(240,240,240, 1);
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        cursor: pointer;
    }

        .grid tr:last-child {
            border-bottom-width: 0;
        }

        .grid tr.selected {
            border-left: 5px solid #d23d3d;
            color: #344860;
            background-color: rgb(252, 252, 252);
        }

.rtl .grid tr.selected {
    border-left: 5px solid transparent;
    border-right: 5px solid #d23d3d;
}

.grid tr:first-child {
    border-left: solid 5px #efefef;
    cursor: default;
}

.rtl .grid tr:first-child {
    border-right: solid 5px #efefef;
    cursor: default;
}

.grid th {
    background-color: #efefef;
    padding: 5px 1px;
    text-align: left;
}

.rtl .grid th {
    text-align: right;
}

.grid td {
    padding: 5px 2px;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

.grid-row:hover, .grid tr:hover {
    background-color: #F8F8F8;
}

.grid tr td:first-child, .grid tr th:first-child {
    padding-left: 12px;
}

.grid img {
    width: 24px;
    float: right;
}

.rtl .grid img {
    float: left;
}
/*.div-grid table {
        border-collapse: collapse;
        margin: 6px -11px 2px 0;
        width: 102.2%;
    }

        .div-grid table tr {
            border-bottom: 0;
        }

            .div-grid table tr td {
                padding: 4px;
                font: 0.8em/33px calibri;
                border: solid 1px #415560;
            }*/


.div-main-row {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #aaa;
    color: #415560;
    font: bold 1.5em/33px calibri;
    min-height: 35px;
    margin: -1px 0;
    padding: 10px;
    word-spacing: 5px;
    border-right: solid 6px;
}

    .div-main-row .img-main-row {
        border-left: 1px solid #aaa;
        cursor: pointer;
        margin: -2px 0;
        padding: 9px;
        vertical-align: top;
        width: 22px;
    }

.div-scr-row {
    background: none repeat scroll 0 0 #fff !important;
    border-right: 6px solid;
    display: block;
    font: lighter 0.9em/33px calibri;
    margin: 2px 40px -3px -10px;
    min-height: 35px;
    padding: 2px 20px;
    border-bottom: solid 2px;
}

.div-trd-row {
    background: #F4F8FC;
    border-right: 6px solid;
    border-top: 1px solid;
    display: block;
    font: bold 0.8em/33px calibri;
    margin: 2px 40px -6px -10px;
    min-height: 35px;
    padding: 2px 20px;
    width: 92.6%;
}

    .div-trd-row:last-child {
        border-bottom: solid 8px;
    }

.div-fift-row {
    background: #fea500 none repeat scroll 0 0;
    border-bottom: 1px solid #aaa;
    border-right: 10px solid #4e8cbd;
    margin: 1px 40px;
    padding: 5px;
    width: 95.3%;
}


    .div-fift-row label {
        border-left: 1px solid;
        margin: 0;
        padding: 5px;
    }


    .div-fift-row .img-edit {
        background: rgba(0, 0, 0, 0) url("../icon/edit.png") no-repeat scroll 4px 2px / 30px auto;
        display: inline-block;
        float: left;
        height: 40px;
        width: 50px;
        cursor: pointer;
    }

    .div-fift-row .img-del {
        background: rgba(0, 0, 0, 0) url("../icon/del1.png") no-repeat scroll 2px -4px / 45px auto;
        display: inline-block;
        float: left;
        height: 40px;
        width: 50px;
        cursor: pointer;
    }


.div-bill-header {
    margin: 10px;
    padding: 20px;
    word-spacing: 2px;
}

#bill_header > label {
    border-bottom: 1px solid #415560;
    display: block;
    margin: -12px 0;
    padding: 0;
    width: 492px;
    font: bold 1.5em/33px calibri;
    color: #415560;
}

.w30 {
    width: 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
}

.w50 {
    max-width: 50px !important;
    min-width: 50px !important;
    width: 50px !important;
}

.w100 {
    max-width: 100px !important;
    min-width: 100px !important;
    width: 100px !important;
}

.w150 {
    max-width: 150px !important;
    min-width: 150px !important;
    width: 150px !important;
}

.w200 {
    max-width: 200px !important;
    min-width: 200px !important;
    width: 200px !important;
}

.w214 {
    max-width: 214px !important;
    min-width: 214px !important;
    width: 214px !important;
}

.w250 {
    max-width: 250px !important;
    min-width: 250px !important;
    width: 250px !important;
}

.w263 {
    max-width: 263px !important;
    min-width: 263px !important;
    width: 263px !important;
}

.w300 {
    max-width: 300px !important;
    min-width: 300px !important;
    width: 300px !important;
}

.w350 {
    max-width: 350px !important;
    min-width: 350px !important;
    width: 350px !important;
}

.w400 {
    max-width: 400px !important;
    min-width: 400px !important;
    width: 400px !important;
}

.wfull {
    max-width: 83% !important;
    min-width: 83% !important;
    width: 83% !important;
}

.div-sub-screen {
    background: #F1F3F3 none repeat scroll 0 0;
    border: 10px solid #c4c3c3;
    border-radius: 2px;
    bottom: 5%;
    left: 10%;
    opacity: 0.92;
    position: absolute;
    top: 10%;
    width: 80%;
    display: none;
    box-shadow: 0 0 3px;
}

    .div-sub-screen .div-row {
        height: 19px;
        padding: 15px 9px;
    }

.validation {
    background: #f6b5b5;
    border: solid 1px #ff0000;
}


#loading, .loading {
    background: #ffffff url("../img/ajaxLoader2.gif") no-repeat scroll center 10px;
    border: 1px none #7f725d;
    box-shadow: 0 0 2px #555;
    color: #7f725d;
    font-size: 15px;
    left: 40%;
    padding: 27px 2px 10px;
    position: fixed;
    right: 40%;
    text-align: center;
    top: 5%;
    z-index: 9;
}

#left-bar {
    background-color: #f2f2f2;
    bottom: 0;
    padding: 5px;
    position: fixed;
    right: -226px;
    top: 62px;
    width: 225px;
    border-left: 1px solid rgb(206, 206, 206);
    z-index: 9;
}

.rtl #left-bar {
    left: -234px;
    right: auto !important;
    border-right: 1px solid rgb(206, 206, 206);
}

#left-ul {
    list-style: none;
}

    #left-ul li {
        background: rgba(0, 0, 0, 0) url("../icon/alt.png") no-repeat scroll right 0 / 24px auto;
        list-style: none outside none;
        padding: 0 22px 0 0;
        border-bottom: dotted 1px #aaa;
        margin-left: -30px;
    }

.rtl #left-ul li {
    background: rgba(0, 0, 0, 0) url("../icon/alt.png") no-repeat scroll left 0 / 24px auto;
    margin-left: -36px;
    padding: 0 0 0 25px;
}

#left-ul p.success {
    background: transparent;
    color: #138417;
}

#left-ul p.error {
    color: #9c1a09;
    background: transparent;
}


#left-bar #ribbon {
    background-color: #f2f2f2;
    border-color: rgb(206, 206, 206) rgb(206, 206, 206) -moz-use-text-color;
    border-radius: 3px 3px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: gray;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    letter-spacing: 5px;
    line-height: 8px;
    margin-left: -44px;
    margin-top: 26px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 4px rgb(51, 51, 51);
    transform: rotate(90deg);
    width: 59px;
}

.rtl #left-bar #ribbon {
    margin-left: 209px;
}

.time {
    float: right;
    color: #666;
}

.rtl .time {
    float: left;
}

.invalid {
    background-color: #faecf1 !important;
    /*border-color: #9b0436 !important;
    border-style: dotted !important;*/
    border: 1px dotted #9b0436 !important;
}

.div-row .search.invalid {
    background: #faecf1 url('../icon/search1.png') no-repeat scroll right center / 24px auto !important;
}

.rtl .div-row .search.invalid {
    background: #faecf1 url("../icon/search1.png") no-repeat scroll 4px center / 24px auto !important;
}

.cover, #cover {
    background-color: #555;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 76px;
    z-index: 2;
}

.div-photo {
    /*background: #f6f4f4 none repeat scroll 0 0;*/
    border: 1px solid #ffffff;
    /*box-shadow: 0 0 2px #c2c2c2;*/
    float: left;
    height: 162px;
    margin: -20px 45px;
    padding: 5px;
    z-index: 1;
}

    .div-photo > div {
        /*background: #fff url("../img/noPhoto.png") no-repeat scroll center center / 175px auto;*/
        border: 2px solid #808080;
        border-radius: 3px;
        box-shadow: 0 0 4px #808080;
        float: left;
        height: 25em;
        width: 25em;
    }

        .div-photo > div div.upload {
            background-color: #555;
            color: #fff;
            cursor: pointer;
            font-size: 13px;
            line-height: 33px;
            height: 20%;
            opacity: 0.01;
            position: relative;
            text-align: center;
            top: 80%;
            font-weight: bold;
            vertical-align: middle;
            z-index: 3;
        }

    .div-photo:hover > div div.upload {
        opacity: 0.85;
    }

    .div-photo img {
        height: 320px;
        position: absolute;
        width: 320px;
    }
