/*
 * Origine: prime
 ***/
.div-form {
    left: 229px !important;
}

.rtl .div-form {
    right: 245px !important;
}

#sidebar, .sidebar {
    background-color: #f2f2f2;
    bottom: 0;
    box-shadow: 0 0 2px #555;
    color: #5c5c5c;
    display: block;
    max-width: 240px;
    min-width: 180px;
    position: fixed;
    top: 62px;
    width: 25%;
    z-index: 1;
}

.rtl #sidebar, .rtl .sidebar {
    direction: rtl;
    left: auto;
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
}

#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sidebar > ul > li {
    border-bottom: 1px dotted #999;
    font-size: 135% !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding:3% 2%;
    vertical-align: middle;
}

.li-separator {
    background: #415560;
    padding: 2px !important;
}

#sidebar input.search {
    background: #d3d3d3 url("../icon/search1.png") no-repeat scroll 194px center / 25px auto !important;
    border: medium none;
    color: #848484;
    height: 30px;
    /*padding: 1% 3%;*/
    width: 100% !important;
}

.rtl #sidebar input.search {
    background: #d3d3d3 url("../icon/search1.png") no-repeat scroll 6px center / 25px auto !important;
}

#sidebar .searcher:hover input.search, #sidebar .searcher input.search:focus {
    background-color: #fff;
    color: #000000;
}

#sidebar > ul > li.search-bar {
    border-bottom: 1px dotted #777;
    font-size: 100%;
    margin: 10px 5px 10px 2px !important;
    padding: 0 !important;
}

#sidebar .searcher li {
    margin-left: -5px;
}

.rtl #sidebar .searcher li {
    margin-right: -5px;
    margin-left: auto;
}

#sidebar li.list:hover {
    background-color: #DADADA;
    cursor: pointer;
}

#sidebar li.list a {
    width: 107%;
    display: block;
    /*font-size: 1.3em;*/
}

    #sidebar li.list a img {
        width: 24px;
        float: left;
    }

.rtl #sidebar li.list a img {
    float: right;
}

#sidebar li.separator {
    height: 5px;
    font-size: 2px;
    /*padding-bottom: 1px;
    padding-top: 22px;*/
}

    #sidebar li.separator hr {
        color: #222222;
        font-size: 1px;
        height: 1px;
        line-height: 2px;
        margin: 0;
        /*padding: 0;*/
    }

#sidebar li.list.selected, #sidebar li.list.selected:hover {
    background-color: #E5E5E5;
    border-left: 5px solid #d23d3d;
    color: #d23d3d;
    margin: 0 0 3px;
}

.rtl #sidebar li.list.selected, .rtl #sidebar li.list.selected:hover {
    border-right: 5px solid #d23d3d;
    border-left: medium none;
}

#sidebar li:first-child /*, #sidebar li:last-child*/ {
    border-bottom-width: 0px !important;
}

@media print {
    .div-form {
        left: auto !important;
    }
}
