/**
 * @version: 1.0.0
 * @author: reza.khawar@gmail.com
 * @description: for control panel use only
 *
 */
body {
    font-family: Calibri;
    background: #ebebeb;
}

.div-header {
    background: #fff none repeat scroll 0 0;
    border-bottom: 10px solid #415560;
    height: 26px;
    left: 0;
    margin-bottom: 5px;
    padding: 20px;
    position: fixed;
    text-align: right;
    top: 0;
    width: 98.9%;
}

    .div-header a {
        margin: -20px 10px 0 0;
    }

    .div-header div {
        margin: -60px 0 0 0;
        text-align: left;
    }

        .div-header div img {
            border: solid 4px #999;
            border-radius: 2px;
            float: left;
            margin-right: 10px;
            width: 35px;
        }

.div-screen-control {
    float: right;
    height: 64px;
    margin: -19px 0 !important;
    /*width: 400px;*/
}

    .div-screen-control a {
        display: block;
        float: right;
        height: 64px;
        margin: 0 10px;
        width: 60px;
    }

    .div-screen-control .img-logOff {
        background: url("../icon/turnOff.png") no-repeat scroll 4px center / 50px auto;
    }

    .div-screen-control .img-notefication {
        background: url("../icon/notification.png") no-repeat scroll 4px center / 48px auto;
    }

    .div-screen-control .img-changepassword {
        background: url("../icon/changePassword.png") no-repeat scroll 4px center / 50px auto;
    }

    .div-screen-control .img-home {
        background: url("../icon/home.png") no-repeat scroll 4px center / 50px auto;
    }

    .div-screen-control .div-user-log {
        color: #aaa;
        float: left;
        font: bold 2em/33px calibri;
        /*margin: 5px -55px;*/
        margin: 5px -5px;
        text-align:right;
    }

.div-rate {
     color: #415560;
    float: right;
    font: 0.9em/33px calibri;
    left: -65px;
    position: relative;
    text-shadow: 0 0 1px;
    top: 65px;
    width: auto;

}
    .div-rate label {
        float:left;
        display:block;
        width:auto;
        padding:2px 5px;
        margin:5px;
    }
.div-cpanel {
    float: left;
    /*margin: 4% 10%;*/
    margin: 5% 10%;
    text-align: left;
    max-width: 1200px;
}
.rtl .div-cpanel {
    float:right;
    text-align:right;
}
.div-application {
    border-bottom: 0.001em solid #aaa;
    float: right;
    height: auto;
    margin: 10px 0 50px;
    min-height: 100px;
    width: 100%;
}
.rtl .div-application {
    float:left;
}
.div-screen {
    float: left;
    height: 200px;
    margin: 0px 10px;
    padding: 2px;
    text-align: center;
    width:200px;
    /*min-width: 200px;
    max-width:212px;*/
    cursor: pointer;
    color: #415560;
}
.rtl .div-screen {
    float:right;
}
    .div-screen a {
        text-decoration: none;
        color: #415560;
    }

        .div-screen a:hover {
            color: #ff6600 !important;
        }

    .div-screen img {
        width: 30%;
    }

    .div-screen label {
        display: block;
        width: 100%;
        /*height: 30px;*/
        min-height:30px;
        font: bold 1.2em/33px calibri;
    }

    .div-screen span {
        display: block;
        width: 100%;
        height: 30px;
        /*font: normal 1.1em/33px calibri;*/
        font: normal 1.1em/28px calibri;
        color: #555;
    }


.Panel {
    /*width: 89%;
	height: 600px;
	margin: 5% 8%;*/
    border-bottom: 1px dotted #333;
    height: auto;
    margin: 8% 4% 5%;
    min-height: 816px;
    width: 1805px;
    border-radius: 2px;
}

    .Panel h1 {
        color: #222;
        font: 1.8em/22px calibri;
        margin: 10px;
        text-shadow: 0 0 3px #aaa;
    }

.cPanel {
    border-bottom: 1px solid #444;
    border-radius: 2px;
    float: left;
    height: auto;
    margin: 10px;
    min-height: 786px;
    padding: 10px;
    text-align: right;
    width: 560px;
}

    .cPanel h1 {
        font: normal normal 2.3em/30px cordiaUPC;
    }

    .cPanel h2 {
        font: normal normal 1.9em/22px cordiaUPC;
    }

    .cPanel div {
        border: 1px solid #fff;
        box-shadow: 0 0 4px #999999;
        display: inline;
        float: right;
        height: 170px;
        margin: 4px;
        width: 120px;
        background: #fff;
        opacity: 0.5;
        text-align: center;
        cursor: pointer;
    }

        .cPanel div:hover {
            opacity: 0.9;
        }

    .cPanel a {
        text-decoration: none;
        color: #222;
    }

    .cPanel div span {
        background: none repeat scroll 0 0 #E3E3E3;
        display: block;
        font: 1.4em/16px cordiaupc;
        height: 30px;
        padding: 2px 0 0;
        text-shadow: 0 0 3px #222222;
        width: 100%;
    }

    .cPanel div img {
        border: 0px;
        width: 80px;
    }

    .cPanel div p {
        background: #fff;
        font: 1.6em/15px cordiaUPC;
        margin: 2px;
        display: block;
        height: 35px;
    }

    .cPanel div div {
        background: none repeat scroll 0 0 #999999;
        height: 132px;
        left: -5px;
        opacity: 0.8;
        position: relative;
        top: -178px;
        width: 130px;
        cursor: pointer;
    }

        .cPanel div div img {
            margin: 0px 5px 5px 5px;
        }

.div-footer {
    background: rgba(0, 0, 0, 0) url("../logo/AK_circle_60.png") no-repeat scroll 1px 1px / 140px auto;
    bottom: 1px;
    float: right;
    height: 48px;
    left: 1px;
    position: fixed;
    width: 300px;
    opacity: 0.2;
}
